* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
}
/* Container */
.container {
  width: 100%;
  height: auto;
}
/* Main */
.main {
  width: 100%;
  height: 100vh;
  background-color: #f5f1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main #text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 12em;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(-28deg) skew(25deg);
  user-select: none;
}
.main #text::before {
  content: attr(data-text);
  position: absolute;
  top: 30px;
  left: -30px;
  color: rgba(0, 0, 0, 0.3);
  filter: blur(8px);
  z-index: -1;
}
.main .scroll {
  position: absolute;
  bottom: 50px;
  font-weight: bold;
  color: #333;
}

/* Block */
.blocks {
  width: 100%;
  height: auto;
}
.block {
  position: fixed;
  top: 0;
  width: 50%;
  height: 200vh;
  z-index: 2;
}
.block-left {
  top: 0;
  left: 0;
  background-color: #fb4800;
}
.block-right {
  top: 0;
  right: 0;
  background-color: #fb4800;
}
.letter {
  position: absolute;
  z-index: 10000;
  padding: 0 0.2em;
  font-size: 100px;
  font-weight: bold;
  color: #fff;
}
.row {
  width: 100%;
  height: 0;
}
.top-left,
.top-right,
.bottom-right {
  position: fixed;
  z-index: 9999;
}
.top-left {
  top: 32%;
  left: 42%;
}
.top-right {
  top: 32%;
  right: 42%;
}
.bottom-right {
  bottom: 32%;
  right: 42%;
}

/* Description */
.description {
  width: 100%;
  height: 100vh;
  /* background-color: #f5f1eb; */
  background-image: linear-gradient(to bottom, #f5f1eb 20%, #fb4800);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description .logo {
  position: absolute;
  top: 50px;
}
.description .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.description .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.description .card:hover .content {
  transform: translateY(0px);
  opacity: 1;
}
.description .card .content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.25);
  pointer-events: none;
}
.description .card .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}
.description .card .content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.description .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 50px 15px rgba(255, 255, 255, 0.2);
}

.description .app {
  padding: 20px 50px;
  background-color: #f5f1eb;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  border-radius: 10px;
}

/* Media Query */
@media (max-width: 1300px) {
  .letter {
    font-size: 80px;
  }
}
@media (max-width: 1020px) {
  .letter {
    font-size: 2em;
  }
}
