<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl0yx9gZcxq4GfaJ2R3uy9AytZ83_3JGk</string>
	<key>GCM_SENDER_ID</key>
	<string>1007821845256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madcow.RideThis</string>
	<key>PROJECT_ID</key>
	<string>authtest-b4883</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-b4883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007821845256:ios:e882e6fe34ba096cdb32bd</string>
</dict>
</plist>